@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #5a42d5;
$text-primary: #1d0693;

div {
  font-family: "Poppins", sans-serif;
}

.mainLogin {
  display: flex;
}

.leftLogin {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightLogin {
  width: 60%;
  height: 100vh;
  background-color: $primary-color;
}

.formLogin {
  width: 400px;
  color: $primary-color;
  font-size: 18px;
  font-weight: 500;
}

.formLogin p {
  font-size: 30px;
  font-weight: 600;
  color: $text-primary;
}

.formLogin input {
  border: 3px solid $text-primary;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 10px;
  width: 100%;
}

.formLogin button {
  width: 100%;
  height: 50px;
  background-color: $text-primary;
  border-width: 0px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.rightLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageLogin {
  width: 60%;
  //   height: 400px;
}
.imageLogin p {
  margin-top: 20px;
  //   font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .mainLogin {
    background-color: red;
    display: contents;
    width: 100vw;
    height: 100vh;
  }
  .rightLogin {
    visibility: hidden;
  }
  .leftLogin {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .formLogin {
    width: 80vw;
    background-color: #1d0693;
  }
}

.headerMenu {
  color: $text-primary;
  height: 50px;
  margin-top: 30px;
  // display: flex;
  // justify-content: space-between;
}

.rightContent span {
  color: $text-primary;
}

.content {
  display: flex;
  align-items: center;
}

.content span {
  color: $text-primary;
  text-decoration: none;
  padding-right: 10px;
}

.nameSite {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.rightContent {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.contentData {
  padding-right: 10px;
}

.contentDataActive {
  padding-right: 50px;
}

.endHeader {
  padding-bottom: 30px;
}

.menu {
  margin-top: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

.heading {
  font-weight: 600;
  font-size: 60px;
}

.headingCatalog {
  margin-top: 60px;
  color: $text-primary;
}
.sliderCatalog {
  margin-top: 30px;
  // display: flex;
  width: 100vw;
}

.cardBook {
  width: 200px;
  justify-content: center;
  background-color: #c0bbdb;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.imageCard {
  display: flex;
  justify-content: center;
}

.cardBook p {
  text-align: center;
}

.imgs {
  border-radius: 10px;
}

.managementMenu {
    padding-top: 40px;
    display: flex;
  width: 80%;
  margin: auto;
}

.inputBook {
  width: 40%;
}

.inputBook div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputBook button{
    width: 100%;
    height: 40px;
    background-color: $text-primary;
    color: white;
    border-radius: 10px;
}

.inputBook input{
    width: 70%;
    height: 50px;
}

.previewBook{
    width: 30%;
}

.mid{
    width: 30%;
}